*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 180px;
    // border: 1px solid black;
}
.top-site{
    width: 100%;
    height: 60px;
    border-bottom: 1px dashed green;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.contact{
    // width: 30%;
    height: 100%;
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}
.contact>div{
    // border: 1px solid black;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .4s;
    border-radius: 4px;
    &:hover{
        background: #f6f6f6;
    }
    &:hover>p{
        color: #0e76bc;
    }
    &:hover>i{
        color: #0e76bc;
    }
}
.contact>div>i{
    color: #222222;
    transition: .4s;
}
.contact>div>p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 5px;
    color: #222222;
    transition: .4s;

}
.social{
    // border: 1px solid black;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(150px);
}
.social>i{
    margin-left: 20px;
    color: #222222;
    transition: .4s linear;
    cursor: pointer;
    &:hover{
        color: orange;
    }
}
.bar{
    width: 100px;
    height: 100%;
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    line-height: 20px;
    font-size: 50px;
    transform: translateX(-50px);
    color: #0e76bc;
}
// --------------------- end top-----------------------------

.menu-icon-holder{
    width: 100%;
    height: 120px;
    // border:1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.label-site{
    width: 300px;
    height: 100%;
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label-site>img{
    // background: red;
    width: 90%;
    height: 60%;
    // object-fit: cover;
}
.menu{
    width: 700px;
    height: 100%;
    // border: 1px solid black;
}
.box-my-tour{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
    >div{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: orange;
        color: white;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-transform: uppercase;
        transition: .4s linear;
        cursor: pointer;
       &:hover{
        background: #0e76bc;
       }
    }
}