<section class="box-holder">
    <div class="box">
        <div class="icon">
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
        </div>
        <p>Lectus arcu bibendum atms varius pharetra. Ideu nis nunc miles ipsum faucibus quis lorem eros. Lorem ipsum dolor sity amet.</p>
        <span></span>
        <p>Timothy O’Neil</p>
        <p>Recent Tourist</p>
    </div>
    <div class="box">
        <div class="icon">
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
        </div>
        <p>Lectus arcu bibendum atms varius pharetra. Ideu nis nunc miles ipsum faucibus quis lorem eros. Lorem ipsum dolor sity amet.</p>
        <span></span>
        <p>Paige Hardwicke</p>
        <p>Recent Tourist</p>
    </div>
    <div class="box like">
        <div><i class="fa fa-thumbs-o-up"></i></div>
        <p>4.8</p>
        <p>/5.0</p>
        <div class="icon">
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
        </div>
      
        <p>Timothy O’Neil</p>
    </div>
    <div class="box">
        <div class="icon">
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
        </div>
        <p>Lectus arcu bibendum atms varius pharetra. Ideu nis nunc miles ipsum faucibus quis lorem eros. Lorem ipsum dolor sity amet.</p>
        <span></span>
        <p>Inez Ben Griffin</p>
        <p>Recent Tourist</p>
    </div>
    <div class="box">
        <div class="icon">
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
            <span class="fa fa-star "></span>
        </div>
        <p>Lectus arcu bibendum atms varius pharetra. Ideu nis nunc miles ipsum faucibus quis lorem eros. Lorem ipsum dolor sity amet.</p>
        <span></span>
        <p>Jeppe C. Larsen</p>
        <p>Recent Tourist</p>
    </div>

</section>