<section class="trip-holder">
    <div class="bg"></div>
    <section class="form"> 
        <h4>Book Your Favorite Tour With Us</h4>
        <h3>Search Trips & Tours</h3>
        <div class="input-holder">
        <div>
            <label>tour name</label>
            <input type="text">
        </div>
        <div>
            <label>tour destination</label>
            <select name="" id="">
                <option value="">all tour destinations</option>
                <option value="">usa</option>
                <option value="">iran</option>
                <option value="">france</option>
                <option value="">thailand</option>
                <option value="">pakistan</option>
            </select>
        </div>
        <div>
            <label>tour labels</label>
            <select name="" id="">
                <option value="">all labels </option>
                <option value="">4 days tour</option>
                <option value="">8 days tour</option>
                <option value="">10 days tour</option>
                <option value="">15 days tour</option>
                <option value="">air trip</option>
                <option value="">hiking</option>
            </select>
        </div>
        <div>
            <div class="send-form">find my tour</div>
        </div>
        </div>

    </section>
</section>