<section class="container">
    <section class="top-body-site">
        <div><img src="assets/img/tour-operator-hero-1.jpg" alt=""></div>
        <div class="top-info">
            <h2>Best Tours Around The World</h2>
            <p>Mislla rhoncoy mattis faucibus adipiscing luacinias verra justo nec ultricey</p>
            <div>view destinaitions</div>
        </div>
    </section>
    <section class="info-holder">
        <div *ngFor="let item of infoList" class="info-box">
            <app-info-box [color]="item.color" [img]="item.img" [topTitle]="item.topTitle" [subTitle]="item.subTitle" [text]="item.text"></app-info-box>
        </div>
    </section>
<!-- *************************** -->
    <section class="search-trip">
        <app-search-trip></app-search-trip>
    </section>
<!-- *************************** -->
    <section class="tour-packages">
        <div class="tour-packages-title">
            <div>
                <h4>Tours & Holidays Specialists</h4>
            </div>
            <h3>Best Tour Packages</h3>
        </div>
        <section class="packages">
            <div *ngFor="let item of packageList" class="package-holder">
                <app-package-box [data]="item"></app-package-box>
            </div>
        </section>
    </section>
<!-- ******************************* -->
    <section class="popular-destinations">
        <app-popular-destinations></app-popular-destinations>
    </section>
    <section class="popUp">
        <app-destination-popup></app-destination-popup>
    </section>
<!-- ****************************** -->
    <section class="tourist-reviews">
        <div class="tourist-reviews-title">
            <div>
                <h4>Tours & Holidays Specialists</h4>
            </div>
            <h3>Tourists Reviews</h3>
        </div>
        <section class="reviews-holder">
                <app-review-box></app-review-box>
        </section>
    </section>
<!-- *********************** -->
    <section class="travel-state">
        <div class="travel-state-title">
            <div>
                <h4>Tours & Holidays Specialists</h4>
            </div>
            <h3>Tours & Travel Stats</h3>
        </div>
        <section class="state-holder" >
            <div *ngFor="let item of travelStateList"><app-travel-state-box [data]="item"></app-travel-state-box></div>
        </section>
    </section>
<!-- ******************************* -->
    <section class="tour-guides">
        <div class="tour-guides-title">
            <div>       
                <h4>Shared Experiences & Articles From Blog</h4>
            </div>
            <h3>Spotlight & Tour Guides</h3>
        </div>
        <section class="guide-holder">
            <div *ngFor="let item of guidesList">
                <app-tour-guid-box [data]="item"></app-tour-guid-box>
            </div>
        </section>
    </section>
<!-- *************************** -->
    <section class="reward-holder">
        <div *ngFor="let item of rewardList">
            <app-reward-section [img]="item"></app-reward-section>
        </div>
    </section>


</section>